.swiper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: #555;
  opacity: .5;
}

.swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}
